.Tile-with-comments {
    display: flex;
    flex-direction: column;
}

.Comments-tile {
    all: inherit;
    display: flex;
    background-color: white;
    width: 635px;
    border: 1px solid lightgray;
    border-radius: 5px; 
    margin-bottom: 10px;
}

.Comment {
    margin: 15px;
}

.Comment-info {
    display: flex;
    margin-bottom: 10px;
}

.Comment-author {
    color: black;
}

.Comment-body {
    font-size: 14px;
    max-width: 580px;
    overflow-wrap: break-word;
}

.Comment-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.Comment-up-arrow {
    width: 20px;
}

.Comment-down-arrow {
    width: 20px;
    transform: scaleY(-1);
    padding-bottom: 4px;
}

@media screen and (max-width: 960px) {
    .Comments-section {
        max-width: 100%;
        margin-right: 2rem;
    }

    .Comments-tile {
        width: auto;
        margin: 1rem;
    }

    .Comment {
        max-width: 100%;
        margin-right: 2rem;
    }

    .Comment-body {
        width: 100%;
        margin: 1rem;
    }

    .Tile-disabled {
        width: auto;
        margin: 1rem;
    }
}