.Tiles {
    margin: 0 auto;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 10px;
    color: gray;
    text-align: left;
    margin-left: 15px;
    margin-top: 10px;
}

.Tile {
    all: inherit;
    display: flex;
    background-color: white;
    width: 635px;
    border: 1px solid lightgray;
    border-radius: 5px; 
    margin-bottom: 10px;
}

.Tile:hover {
    border: 1px solid #0179d3;
}

.Tile-disabled {
    all: inherit;
    display: flex;
    background-color: white;
    width: 635px;
    border: 1px solid lightgray;
    border-radius: 5px; 
    margin-bottom: 10px;
    pointer-events: none;
}

.Counter {
    background-color: #f8f9fa;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Up-arrow {
    width: 20px;
}

.Down-arrow {
    width: 20px;
    transform: scaleY(-1);
    padding-bottom: 4px;
}

.Post {
    display: flex;
    flex-direction: column;
}

.Comments {
    margin-top: auto;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.Comments:hover {
    background-color: #e8e8e8;
}

.Comments-icon {
    width: 20px;
}

.Comments-link-container {
    display: flex;
    align-items: center;
}

.Comments-link {
    font-size: 12px;
    color: gray;
    margin: auto 5px;
}

.Post .Post-image {
    margin-bottom: 10px;
    margin-right: 30px;
    width: 90%;
}

.No-image {
    display: none;
}

@media screen and (max-width: 960px) {
    .Tiles {
        width: 100%;
        margin: 0rem;
    }

    .Tile {
        width: auto;
        margin: 1rem;
    }
}